
body{
    background-image: url(img/gym_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-image: linear-gradient(to left, rgba(255, 255, 0, 0.6), rgba(255, 0, 0, 0.8));

}

table{
    width: 60vw;
    border: 1px solid brown;
    border-radius: 25px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.777);
}

th{
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.6), rgba(255, 0, 0, 0.8));
}

tr, td, th{
    text-align: center;
    border: 1px solid brown;
    padding: 5px;
    border-radius: 25px;
    width:25%;

}
img{
    width: 90%;
}
button{
    color: white;
    background-color: green;
    border : 1px solid white;
    border-radius: 7px;
    padding:5px 15px 5px 15px;
}

button:hover{
    color: green;
    background-color: white;
    border : 1px solid green;
    cursor: pointer;
}